@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* PARTE DO HTML */
/* INICIO */

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

main{
  background-color: #111213;
}

body{
  background-color:black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* HEADER */
/* INICIO */

header {
  font-family: 'Epilogue', 'sans-serif';
  overflow: hidden; 
}

.barra-navegacao {
  position: fixed;
  z-index: 1000; 
  display: flex;
  background-color: #000000;
  box-shadow: 0vh 0.43vh 1.45vh #190029;
  justify-content: space-between;
  padding: 0.4vh 0vh;
  width: 100%;
  overflow: hidden; 
  height: 10vh;
}

.barra-navegacao a{
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.barra-navegacao a::after{
  content: " ";
  width: 0%;
  height: 0.29vh;
  background-color: #FFF;
  position: absolute;
  left: 20%;
  bottom: -1.45vh;
  display: flex;
  transition: width 0.3s ease-in-out;
}

.barra-navegacao a:hover::after{
  width: 60%;
}

.barra-navegacao a:active, .barra-navegacao a:focus {
  color: #808080; 
  outline: none;
}

.barra-navegacao :not(a:active){
  color: white;
}

#botaologo {
  background: none;
  border: none;
  font-family: 'Epilogue', 'sans-serif';
  position: relative;
  font-size: 2.2vh;
  font-weight: bold;
  left: 5%;
}

#botaologo.tremor{
  animation: tremor 1s;
}

@keyframes tremor{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


.lista-navegacao {
  display: flex;
  align-items: center;
  position: relative;
  right: 2%;
}

.item-navegacao {
  margin: 0 2.19vh;
  transition: transform 0.3s ease-in-out;
}

.item-navegacao:hover{
  transform: scale(1.1);
}


.link-navegacao {
  text-decoration: none;
  font-size: 2.2vh;
  color: white;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.link-navegacao:hover{
  transform: scale(1.1);
}

.lista-lista-navegacao {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-icone {
  background: transparent;
  border: none;
  cursor: pointer;
}

#baixarCV{
  background-color: transparent;
  color: white;
  border-color: #190029;
  border: solid;
  border-width: 0.29vh;
  font-size: 1.9vh;
  font-weight: 1000;
  color: rgb(167, 0, 167);
  height: 5.5vh;
  cursor: pointer;
  position: relative;
  width: 20vh;
  top: 2.2vh;
  padding: 0;
  margin: 0;
  right: 5%;
  transition: transform 0.5s ease;
}

#baixarCV.up{
  transform: scale(1.1);
}

.menumobile, .botao-curriculo-mobile, .menu-mobileicone, #baixarCV-mobile {
  display: none;
}

@media screen and (max-width: 730px){
  .lista-navegacao{
      display: none;
  }
  #baixarCV{
      display: none;
  }
  .barra-navegacao{
      padding: 0.15vh 0.4vh;
  }
  .menu-mobileicone{
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .menumobile ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 0.1vh;
  }
  .menumobile .item-navegacao{
      display: block;
      padding: 0.1vh 0.2vh;
  }    
  .menumobile .botaocurriculo-mobile button{
      width: 100%;
  }

  .open{
      display: block;
  }
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* SECTION1 */
/* INICIO */

.body{
  background:linear-gradient(#202225, #150a1b) ;
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", 'sans-serif';
  text-shadow: 0vh 0.13vh 0.13vh #000000b3;
}

#comingsoon{
  position: relative;
  color: white;
  top: 8vh;
  font-size: 5vh;
}

.section1{
  color: white;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  flex-direction: row;
  gap: 25vh;
  display: flex;
  padding-top: 10vh;
  width: 100%;
}

.coluna1, .coluna2{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15vh;
  padding-top: 10vh;
  padding-right: 5vh;
  padding-left: 5vh;
}

#curriculo{
  position: relative;
  width: 60vh;
  height: 35vh;
  color: black;
}

#curriculo:hover .flip{
  transform: rotateY(180deg);
}

#certificados{
  display: none;
  flex-direction: column;
  gap: 5vh;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.flip{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: .5s;
}

.frente,.tras{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1vh;
  box-shadow: 0.2vh 0.2vh 0.2vh 0.2vh #000;
}

#frente1{
  background-image: url(imgs/certificados/Google\ Cloud\ Computing\ Foundations\ Data\,\ ML\ and\ AI\ in\ Google\ Cloud.png);
  background-size: 100%;
}

#frente2{
  background-image: url(imgs/certificados/Google\ computing\ foudantions.png);
  background-size:100%;
}

#frente3{
  background-image: url(imgs/certificados/Infraestrutura\ em\ google\ cloud.png);
  background-size: 100%;
}

#frente4{
  background-image: url(imgs/certificados/Lead\ Dell\ Suporte\ Técnico\ em\ Tecnologia\ da\ informação.png);
  background-size: 100%;
}

#frente5{
  background-image: url(imgs/certificados/Network\ and\ security.png);
  background-size: 100%;
}

#frente6{
  background-image: url(imgs/certificados/Network\ and\ security.png);
  background-size: 100%;
}

#tras1{
  background-color: white;
  transform: rotateY(180deg);
}


.hide{
    display: none;
}

.projetos{
    position: relative;
    background-color: #202225;
}