@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Montserrat:wght@400;600&display=swap');

/* PARTE DO HTML */
/* INICIO */

html {
    scroll-behavior: smooth;
}

main {
    background-color: #111213;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Esconde o overflow horizontal */
}

body::-webkit-scrollbar {
    display: none;
}

a{
    list-style: none;
    text-decoration: none;
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* HEADER */
/* INICIO */

header {
    font-family: 'Epilogue', 'sans-serif';
    overflow: hidden; /* Esconde overflow no header */
}

.barra-navegacao {
    position: fixed;
    z-index: 1000; /* Certifique-se de que a barra de navegação esteja acima de outros elementos */
    display: flex;
    background-color: #000000;
    box-shadow: 0px 3px 10px #190029;
    justify-content: space-between;
    padding: 1rem 0rem;
    width: 100%;
    overflow: hidden; /* Esconde overflow na barra de navegação */
}

.barra-navegacao a{
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.barra-navegacao a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    left: 20%;
    bottom: -10px;
    display: flex;
    transition: width 0.3s ease-in-out;
}

.barra-navegacao a:hover::after{
    width: 60%;
}

.barra-navegacao a:active, .barra-navegacao a:focus {
    color: #808080; /* Cor cinza mais escuro ao clicar */
    outline: none; /* Remove o contorno padrão do foco */
}

.barra-navegacao :not(a:active){
    color: white;
}

#botaologo {
    background: none;
    border: none;
    font-family: 'Epilogue', 'sans-serif';
    position: relative;
    font-size: 20px;
    font-weight: bold;
    left: 5%;
}

#botaologo.tremor{
    animation: tremor 1s;
}

@keyframes tremor{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
  

.lista-navegacao {
    display: flex;
    align-items: center;
    position: relative;
    right: 3%;
}

.item-navegacao {
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
}

.item-navegacao:hover{
    transform: scale(1.1);
}


.link-navegacao {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.link-navegacao:hover{
    transform: scale(1.1);
}

.lista-lista-navegacao {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-icone {
    background: transparent;
    border: none;
    cursor: pointer;
}

#baixarCV{
    background-color: transparent;
    color: white;
    border-color: #190029;
    border: solid;
    border-width: 2px;
    font-size: 15px;
    font-weight: 1000;
    color: rgb(167, 0, 167);
    height: 40px;
    cursor: pointer;
    right: 5rem;
    position: relative;
    width: 150px;
    top: 1.5vh;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease;
}

#baixarCV.up{
    transform: scale(1.1);
}

.menumobile, .botao-curriculo-mobile, .menu-mobileicone, #baixarCV-mobile {
    display: none;
}

@media screen and (max-width: 730px){
    .lista-navegacao{
        display: none;
    }
    #baixarCV{
        display: none;
    }
    .barra-navegacao{
        padding: 1.5rem 4rem;
    }
    .menu-mobileicone{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menumobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menumobile .item-navegacao{
        display: block;
        padding: 1rem 2rem;
    }    
    .menumobile .botaocurriculo-mobile button{
        width: 100%;
    }

    .open{
        display: block;
    }
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* SECTION 1 */
/* INICIO */

.section1 {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #000000, #190029);
    height: 100vh;
    justify-content: center;
    overflow: hidden; /* Esconde overflow na seção */
}

#containersobre {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    position: relative;
    top: 15vh;
    width: 100%;
    height: 60vh;
    font-weight: 600;
    gap: 4vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
    transform: translateY(70px);}

#containersobre.show{
    opacity: 1;
    transform: translateY(0);
}

.euimagem {
    position: relative;
    top: 15vh;
    width: 80vh;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

.euimagem:hover{
    transform: scale(1.1);
}

#textosec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
}


#textao {
    font-family: 'Epilogue', 'sans-serif';
    position: relative;
    font-size: 40px;
    width: 60vh;
    top: 30px;
    text-align: center;
    transition: transform 0.9s ease-in-out;
}

#textao:hover{
    transform: scale(1.1);
}

#Ryenanhigh {
    color: rgb(167, 0, 167);
    font-size: 40px;
    font-family: 'Epilogue', 'sans-serif';
    transition: transform 0.3s ease-in-out;
}

#paragrafo {
    position: relative;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    width: 70vh;
    color: #c0c0c0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

#paragrafo:hover{
    transform: scale(1.1);
}

#textaoredes {
    top: 110px;
    font-family: 'Epilogue', sans-serif;
    position: relative;
    font-size: 20px;
    text-align: center;
}

#redessociais {
    position: relative;
    gap: 15px;
    display: flex;
    top: 100px;
}


/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* SECTION 2 */
/* INICIO */

.section2 {
    display: block;
    background: linear-gradient(to bottom, #000000, #202225);
    height: 140vh;
    overflow-x: hidden; /* Esconde overflow na seção */
}

.section2::-webkit-scrollbar {
    display: none;
}

#habil {
    font-size: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'Epilogue';
    color: white;
    top: 10vh;
    margin: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
    transform: translateY(70px);
}

#habil.show:hover{
    transform: scale(1.1);
}


#habil.show {
    opacity: 1;
    transform: translateY(0);
}

#textossobremim {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22vh;
    width: 100vh;
    font-family: 'Epilogue', 'sans-serif';
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
    transform: translateY(70px);
}

#textossobremim.show {
    opacity: 1;
    transform: translateY(0);
}

.linguagens {
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    font-family: 'Epilogue', sans-serif;
    position: relative;
}

.linguagem {
    display: flex;
    flex-direction: row;
    gap: 30vh;
    margin: 0;
    position: relative;
    left: 50%;
    top: 20px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden; /* Esconde overflow na lista de linguagens */
}

.linguagem p{
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

.linguagem p:hover{
    transform: scale(1.1);
}

.linguagemimgs {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 30vh;
    top: 15px;
    left: 50%;
}

#htmlcss {
    display: flex;
    position: relative;
    left: 30px;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

#jsicon {
    display: flex;
    position: relative;
    left: 5px;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

#csharpicon {
    display: flex;
    position: relative;
    right: 10px;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

#mysqlicon {
    display: flex;
    position: relative;
    left: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
}

#htmlcss:hover,#jsicon:hover,#csharpicon:hover,#mysqlicon:hover{
    transform: scale(1.1);
}

#postit {
    position: relative;
    top: 15vh;
    width: 60vh;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
    transform: translateY(70px);
}

#postit.show {
    opacity: 1;
    transform: translateX(20px);
}

#postit.show:hover{
    transform: scale(1.1);
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* CAROUSEL */
/* INICIO */

#backgroundcarousel {
    background-color: #202225;
    overflow-x: hidden; /* Esconde overflow no carousel */
}
#backgroundcarousel::-webkit-scrollbar {
        display: none;
}

.slider {
    overflow: hidden;
}

.list {
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 8px;
    padding: 0 16px;
    margin: 0;
    scrollbar-width: none;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

.list ul {
    background-color: linear-gradient(to bottom, #2c2e32, #202225);
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    flex-shrink: 0;
    width: 80%;
    height: 75vh;
    background-color: #FFF;
    scroll-snap-align: center;
    border-radius: 8px;
    margin: 0;
    box-sizing: border-box;
}

.item.empty {
    background-color: transparent; /* Make the empty item invisible */
    width: calc(80% + 16px); /* Same width as other items plus gap */
}

.item1{
    margin-left: 1vh;
}

.item5{
    margin-right: 1vh;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.conteudo:hover{ /* revisar isso */
    transform: scale(1.1);
}

#carousel{
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #202225, #111213); /* Adicionando um background ao carrossel */
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
    transform: translateY(70px);
}

#carousel.show{
    opacity: 1;
    transform: translateY(0px);
}
  
.btncarousel{
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}
  
.btnvoltar {
    left: 1.5rem;
    transform: rotate(180deg);
}
  
.btnpassar {
    right: 1.5rem;
}
  
/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* SECTION3 */
/* INICIO */

.section3{
    background-color: #111213;
    width: 100%;
    height: 105vh;
}

#frase{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 40vh;
    bottom: 25vh;
    font-size: 25px;
    left: 20%;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
    transform: translateY(70px); 
}

#frase.show{
    opacity: 1;
    transform: translateY(0px);
}

#frase.show:hover{
    transform: scale(1.1);
}

#postit2{
    position: relative;
    width: 60vh;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
    transform: translateY(70px); 
}

#postit2.show{
    opacity: 1;
    transform: translateY(0px);
}

#postit2.show:hover{
    transform: scale(1.1);
}

.rodape{
    width: 100%;
    height: 15vh;
    background-color: #2c2e32;
    color: #a0a0a0;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 15vh;
    position: relative;
    justify-content: center;
    top: 14vh;
}

#txtrodape{
    position: relative;
    text-align: center;
    padding-top: 5vh;
    font-size: 12px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

#txtrodape:hover{
    transform: scale(1.1);
}

#txtlinkicons8{
    color: #a0a0a0;
    font-weight: bold;
}

.voltarparaotop{
    visibility: hidden; /* Inicialmente invisível, mas ocupando espaço */
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 3vh;
    z-index: 100;
    top: 15%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s 0.3s; /* Atraso na visibilidade */
    transform: translateY(70px); /* Inicia o botão 20px abaixo */
}

.voltarparaotop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Deixa o botão redondo */
}

.voltarparaotop.show{
    visibility: visible; /* Torna visível */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}














