@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* PARTE DO HTML */
/* INICIO */

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body{
  background: linear-gradient(#000000, #190029);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar{
  display: none;
}

/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

/* HEADER */
/* INICIO */

header{
  font-family: 'Epilogue', 'sans-serif';
  overflow: hidden; 
}

.barra-navegacao{
  position: fixed;
  z-index: 1000; 
  display: flex;
  background-color: #000000;
  box-shadow: 0vh 0.43vh 1.45vh #190029;
  justify-content: space-between;
  padding: 0.4vh 0vh;
  width: 100%;
  overflow: hidden; 
  height: 10vh;
  transition: all 1s ease-in-out;
}

.barra-navegacao .animacao{    
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 2.2vh;
  font-family: 'Epilogue', 'sans-serif';
  transition: color 0.3s ease;
}

.barra-navegacao .animacao::after{
  content: " ";
  width: 0%;
  height: 0.29vh;
  background-color: #FFF;
  position: absolute;
  left: 20%;
  bottom: -1.45vh;
  display: flex;
  transition: width 0.3s ease-in-out;
}

.barra-navegacao .animacao:hover::after{
  width: 60%;
}

.barra-navegacao .animacao:active, .barra-navegacao .animacao:focus{
  color: #808080; 
  outline: none;
}

.barra-navegacao :not(.animacao:active){
  color: white;
}

#botaologo{
  background: none;
  border: none;
  font-family: 'Epilogue', 'sans-serif';
  position: relative;
  font-size: 2.2vh;
  font-weight: bold;
  left: 5%;
}

#botaologo.tremor{
  animation: tremor 1s;
}

@keyframes tremor{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
  

.lista-navegacao{
  display: flex;
  align-items: center;
  position: relative;
  right: 2%;
}

.item-navegacao{
  margin: 0 2.19vh;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.item-navegacao:hover{
  transform: scale(1.1);
}

.item-navegacao a{
  width: 100%;
}

.link-navegacao{
  text-decoration: none;
  font-size: 2.2vh;
  color: white;
  font-weight: 400;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.link-navegacao:hover{
  transform: scale(1.1);
}

.lista-lista-navegacao{
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-icone{
  background: transparent;
  border: none;
  cursor: pointer;
}

#btn-menu{
  width: 7vh;
  height: 7vh;
  background: transparent;
}

.menu-mobileicone button.ativaranimacao .hamburger:nth-child(1){
  transform: translateY(1.3vh) rotate(-45deg);
}

.menu-mobileicone button.ativaranimacao .hamburger:nth-child(3){
  transform: translateY(-1.5vh) rotate(45deg);
}

.menu-mobileicone button.ativaranimacao .hamburger:nth-child(2){
  width: 0;
  opacity: 0;
}

.hamburger{
  width: 5vh;
  height: 0.6vh;
  background-color: #FFF;
  display: block;
  margin: 0.8vh auto;
  position: relative;
  transform-origin: center;
  transition: 0.5s;
}

#baixarCV{
  background-color: transparent;
  border-color: #190029;
  border: solid;
  border-width: 0.29vh;
  font-size: 1.9vh;
  font-weight: 1000;
  color: #a700a7;
  height: 5.5vh;
  cursor: pointer;
  position: relative;
  width: 20vh;
  top: 2.2vh;
  padding: 0;
  margin: 0;
  right: 5%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.5s ease;
}

#baixarCV a{
  padding-top: 5%;
  color: #a700a7;
  text-decoration: none;
  display: inline-block;
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
}

#baixarCV.up{
  transform: scale(1.1);
}

.itemmobile{
  font-size: 1.2vh;
  position: relative;
  top: 5vh;
}

.menumobile, .botao-curriculo-mobile, .menu-mobileicone, #baixarCV-mobile {
  display: none;
}

.redessociaismobile{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 2.5vh;
  top: 2%;
}

.redessociaismobile img{
  width: 4vh;
}

@media screen and (max-width: 730px){
  .lista-navegacao{
      display: none;
  }
  #baixarCV{
      display: none;
  }
  .barra-navegacao{
      padding: 0.15vh 0.4vh;
      width: 100%;
  }
  .menu-icone{
      background-color: transparent;
      width: 7vh;
  }

  .menu-mobileicone{
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 10vh;
      height: 10vh;
      

  }

  .menu-mobileicone button{
      background-color: transparent;
      border: none;
      top: 1.5vh;
      right: 1vh;
      position: relative;
  }

  .menumobile{
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s ease-in-out;
      position: fixed;
      z-index: 100;
      height: 65vh;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transform: translateY(-60vh);
      text-align: start;
  }

  .lista-navegacao-mobile img{
      padding-right: 1.5vh;
  }

  .menumobile ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 5%;
      height: 50vh;
      border-radius: 20%;
      z-index: 100;
      text-transform: uppercase;
      top: -4.3vh;
  }
  
  #itemmobile5{
      border-bottom: solid rgba(255, 255, 255, 0.198) 0.1vh;
  }

  .menumobile .item-navegacao{
      display: block;
      text-align: start;
      left: 5%;
      border-top: solid rgba(255, 255, 255, 0.198) 0.1vh;
  }    
  .menumobile .botaocurriculo-mobile button{
      width: 100%;
  }

  .open{
      transition: all 1s ease-in-out;
      position: fixed;
      transform: translateY(5vh);
  }

  .box{
      transition: all 1s ease-in-out;
      box-shadow: 0vh 0vh 0vh 0vh transparent;
  }

  #botaologo{
      font-size: 2vh;
  }

  .link-navegacao{
      font-size: 2.5vh;
      bottom: 0.5vh;
      padding-top: 2.7vh;
      padding-bottom: 3vh;
  }

  .item-navegacao a{
      padding-right: 50vw;
  }

  .item-navegacao{
      padding: 2vh;
      width: 105vw;
      height: 30vh;
      display: flex;
      justify-content: center;
      text-align: center;
      overflow: hidden;
  }

  #menuinicio{
    background:linear-gradient(to left, #520754, #200a2f);
  }

}

/* Section1 --------------------------------------------------- */

#seçao1{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 110vh;
  height: 50vh;
  color: white;
  padding-left: 15vh;
  text-align: justify;
  gap: 8%;
}

#seçao1 h1{
  text-align: center;
  padding-bottom: 3vh;
  margin: 0;
  font-size: 6.74vh;
  font-family: 'Epilogue', 'sans-seriff';
  text-shadow: #8731b2 1px 0 10px;
}

.pp{
  font-family: 'Montserrat','sans-seriff';
  font-size: 2vh;
  text-shadow: 0 0 0.1vh 0.1vh rgb(0, 0, 0);
}

.informacoes{
  position: relative;
  top: 64%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 1vh;
  padding: 3vh;
  padding-bottom: 7.5vh;
}

.minhafoto{
  position: relative;
}

.card{
  position: absolute;
  background: #555;
  width: 55vh;
  height: 65vh;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 1vh;
}

.card img{
  width: 120%;
  position: relative;
  right: 10%;
  bottom: 1vh;
}

.card span:nth-of-type(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3vh;
  background: linear-gradient(to right, transparent, #b846ff);
  animation: animar1 2s linear infinite;
}

.card span:nth-of-type(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 0.3vh;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #b846ff);
  animation: animar2 2s linear infinite;
  animation-delay: 1s;
}

.card span:nth-of-type(3){
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.3vh;
  background: linear-gradient(to left, transparent, #b846ff);
  animation: animar3 2s linear infinite;
}

.card span:nth-of-type(4){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.3vh;
  height: 100%;
  background: linear-gradient(to top, transparent, #b846ff);
  animation: animar4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animar1{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes animar2{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}

@keyframes animar3{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes animar4{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}

.ptext {
  text-indent: 4vh;
  padding-bottom: 0.4vh;
  margin: 0;
}

.audio-player {
  display: flex;
  align-items: center;
  gap: 1vh;
  background: transparent;
  padding: 1vh;
  color: white;
  width: 50.3vw;
  height: 6vh;
  position: relative;
  top: 4vh;
  font-family: monospace, 'sans-seriff';
  display: flex;
  justify-content: center;
}

.audio-player p{
  position: absolute;
  bottom: 2.9vh;
  left: 4.3vw;
  font-weight: bold;
  font-size: 1.3vh;
}

.audio-player button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  font-family: 'Epilogue', 'sans-seriff';
  font-weight: bold;
  font-size: 3vh;
  padding-top: 0.6vh;
  border-radius: 0.5vh;
  cursor: pointer;
  height: 4.3vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
  text-align: center;
  justify-items: center;
}

#seekBar{
  width: 40vw;
  margin-top: 2.4vh;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  opacity: 1;
  transition: opacity .2s;
}

#seekBar::-webkit-slider-runnable-track{
  background-color: #fff;
  border-radius: 1vh;
}

#seekBar::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 1.3vh; 
  height: 1.3vh; 
  background: #190029; 
  cursor: pointer; 
  border-radius: 50%;
  border: 0.2vh solid #fff; 
}

#seekBar::-moz-range-track {
  background-color: #fff;
  border-radius: 1vh;
  width: 100%;
  height: 1.5vh;
}

#seekBar::-moz-range-thumb {
  width: 1.3vh; 
  height: 1.3vh; 
  background: #190029; 
  cursor: pointer; 
  border-radius: 50%;
  border: 0.2vh solid #fff; 
}

#seekBar::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 1.5vh;
  overflow: hidden;
}

#seekBar::-ms-thumb {
  width: 1.3vh; 
  height: 1.3vh; 
  background: #190029; 
  cursor: pointer; 
  border-radius: 50%;
  border: 0.2vh solid #fff; 
  margin-top: 0vh;
}

#seekBar::-ms-fill-lower {
  background-color: #fff;
  border-radius: 1vh;
}

#seekBar::-ms-fill-upper {
  background-color: #fff;
  border-radius: 1vh;
}

#contmusic{
  margin-left: 1vh;
  margin-top: 2.3vh;
  font-weight: bold;
}

.audio-player button:hover {
  background: #555;
}

.audio-player input[type="range"] {
  width: 10vh;
  cursor: pointer;
}

/* Section2 --------------------------------------------------- */

#seçao2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 55vh;
}

.varalfotos{
  position: relative;
  display: flex;
  gap: 20vh;
}

figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.wave {
  float: left;
  margin: 0.2vh;
  animation: wave  ease-in-out 1s infinite alternate;
  transform-origin: center -3.6vh;
}

.wave:hover {
  animation-play-state: paused;
  cursor: pointer;
  transform: scale(1.1);
}

.wave img {
  border: 0.5vh solid #f8f8f8;
  display: block;
  width: 20vh;
  height: 25vh;
}

.wave:after{
  content: '';
  position: absolute;
  width: 2vh; 
  height: 2vh;
  border: 0.15vh solid #ffffff;
  top: -1vh; 
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}
       
.wave:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/012/419/385/original/red-notepaper-pin-ilustration-push-pin-isolated-on-the-white-background-free-png.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}
        
@keyframes wave {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


/* FIM ----------------------------------------------------------------------------------------------------------------------------------*/

.janelacontato{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000006f;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: white;
  transition: 1s ease-in-out;
}

.janelacontato.abrir{
  display: flex;
}

.jancontato{
  width: 60%;
  height: 65vh;
  background-color: #151618dc;
  border-radius: 2vh;
  backdrop-filter: blur(10px);
  padding: 5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.jancontato h1{
  font-family: 'Epilogue', 'sans-serif';
  padding-bottom: 2vh;
  font-size: 4vh;
}

#meuFormulario{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  font-size: 1.5vh;
  font-family: 'Epilogue', 'sans-serif';
  font-weight: bold;
}

#meuFormulario input,textarea{
  padding: 0.5vh;
  margin-bottom: 1.5vh;
  font-size: 1.4vh;
  font-family: 'Epilogue', 'sans-serif';
  transition: all 0.5s;
  outline: none;
  border: none;
}

#meuFormulario input:focus,textarea:focus{
  border-radius: 1vh;
}

#baixoform{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 2vh;
}

#baixoform p{
  margin: 0;
}

#botaoenviarform{
  position: absolute;
  left: 87%;
  width: 15vh;
  height: 6vh;
  font-size: 3vh;
  font-weight: bold;
  background-color: transparent;
  border: solid, white, 0.3vh;
  color: white;
  cursor: pointer;
}

#botaoenviarform:hover{
  color: black;
  background-color: white;
  transition: all 0.5s;
}

#redessociaisemail{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  position: relative;
  top: 10vh;
}

#iconsredessociaisemail{
  display: flex;
  flex-direction: row;
  gap: 2vh;
  justify-content: center;
}

#iconsredessociaisemail img{
  display: flex;
  flex-direction: row;
  width: 3.5vh;
  cursor: pointer;
}

.fechar{
  position: absolute;
  top: -1vh;
  right: -1vh;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: none;
  background-color: #190029;
  color: white;
  font-size: 1.7vh;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.1vh 0.1vh 0.1vh #000000;
}

@keyframes abrirjanelacontato{
  from{
      opacity: 0;
      transform: translate3d(0, -2vh, -0.5vh);
  }
  
  to{
      opacity: 1;
      transform: translate3d(0,0,0);
  }

}

.abrir .jancontato{
  animation: abrirjanelacontato 0.5s;
}

#obrigadoContato{
  display: none;
  flex-direction: column;
  width: 30%;
  min-width: 25vh;
  min-height: 10vh;
  color: white;
  align-items: center;
  background-color: #252525;
  padding: 3vh;
  border-radius: 2vh;
  text-align: center;
  position: absolute;
  z-index: 1000;
  left: 30%;
  bottom: 25%;
  font-family: 'Epilogue', 'sans-serif';
  font-size: 2.0vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#obrigadoContato.abrir{
  display: flex;
}

#obrigadoContato h1{
  font-size: 3.0vh;
}

#obrigadoContato p{
  position: relative;
  bottom: 1.5vh;
}

#iconeobrigadocontato{
  width: 5vh;
}

.redesociaisstyle{
  list-style-type: none;
  display: flex;
  position: relative;
  gap: 4vh;
}

.redesociaisstyle li{
  width: 6vh;
  height: 6vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5vh 1.5vh;
  border-radius: 6vh;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  transition: all .2s ease-in-out;
}

.redesociaisstyle li span{
  position: absolute;
}

.redesociaisstyle li:hover{
  width: 18vh;
}

.redesociaisstyle li .icon{
  color: #ccc;
  font-size: 2.2em;
  transform: scale(1);
  transition-delay: .5s;
  transition: .5s ease-in-out;
}

.redesociaisstyle li:hover .icon{
  transform: scale(0);
}

.redesociaisstyle li .text{
  color: #FFF;
  font-size: 1.8vh;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transition-delay: .2s;
  font-family: 'Epilogue', 'sans-seriff';
  text-align: center;
}

.redesociaisstyle li:hover .text{
  transform: scale(1);
  opacity: 1;
}

.redesociaisstyle li::before{
  content: '';
  position: absolute;
  background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
  inset: 0;
  opacity: 0;
  border-radius: 6vh;
  transition: all .2s ease-in-out, opacity 0.4s ease-in-out;
}

.redesociaisstyle li:hover::before{
  opacity: 1;
}

@media screen and (max-width: 730px){
  
  body{
    height: 112vh;
    width: 100vw;
  }
  
  #seçao1{
    width: 100vw;
    flex-direction: column-reverse;
    padding: 0;
  }

  #seçao1 h1{
    font-size: 5vh;
    padding-bottom: 28vh;
  }

  .informacoes{
    width: 100vw;
    padding: 0;
    margin: 0;
    top: 33vh;
    padding-bottom: 5vh;
  }
  
  .pp{
    font-size: 1.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .card{
    width: 50vw;
    height: 25vh;
    top: 48.5vh;
    right: -25vw;
  }

  .audio-player{
    width: 100%;
    padding: 0;
    top: 2vh;
  }

  .audio-player p {
    bottom: 2.35vh;
    left: 20vw;
  }

  #contmusic{
    font-size: 1.4vh;
    margin-top: 2vh;
    margin-left: 0vh;
  }

  #seekBar{
    width: 52vw;
  }
 
  #baixoform{
    display: flex;
    justify-content: center;
    
  }

  #baixoform p{
      display: none;
  }

  #iconsredessociaisemail{
      gap: 8vw;
  }

  #botaoenviarform{
      left: 20%;
      border: none;
      font-size: 5vh;
  }

  .janelacontato{
      width: 100%;
      height: 90vh;
      padding: 1vh;
      top: 5vh;
      left: -2.5vw;
  }

}